name: WPF CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release

    - name: Test
      run: dotnet test --configuration Release
  
    - name: Publish
      run: dotnet publish src/PotatoWpfCICD/PotatoWpfCICD.csproj -c Release -r win-x64 --self-contained true /p:PublishSingleFile=true

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: PotatoWpfCICD
        path: |
          src/PotatoWpfCICD/bin/Release/**/publish/
